  blockquote {
    max-width: 600px;
    margin: 10px;
    padding: 15px;
    border-left: 8px solid green;
    background-color: #f8fffe;
    font-weight: bold;
    font-family: sans-serif;
    color: #333;
  }

  .quiz-container {
    font-family: sans-serif;
    padding: 20px;
  }
  
  .options {
    margin-bottom: 20px;
  }